# PLAYWRIGHT_HEADLESS_MODE
# on -> Not launching brawser, suite for background proccess
# off -> Lauching browser, suite for survey and debug
PLAYWRIGHT_HEADLESS_MODE=off

# Set your Equasis account and password
EQUASIS_ACCOUNT=
EQUASIS_PASSWORD=
EQUASIS_BUREAU_VERITAS_ACCOUNT=
EQUASIS_BUREAU_VERITAS_PASSWORD=

# SCHEDULE SETTINGS
UPPER_LIMIT_SCRAPING_BY_ONE_BATCH=
