pydantic
python-dotenv
dill

# Streamlit
altair
pandas
streamlit
streamlit-modal
streamlit-authenticator

# Database
SQLAlchemy
alembic
sqlite-web

# luigi
luigi
schedule
pytz
tzlocal

xhtml2pdf
plotly==5.23.0
